body{
    margin: 0%;
    font-family: 'Poppins', sans-serif;
}
h1{
    font-size: 50px;
}
.orange-color{
    color: orange;
}
.first-me{
    width: 40%;
    float: left;
    margin-left: 5%;
    padding-left: 2%;
}
.first-me img{
    max-width: 100%;
}
.sec-first{
    background-image: url("images/banner.png");
    background-repeat: no-repeat;
}
section{
    height: 500px;
    margin-bottom: 300px;
}
.contact-button{
    text-decoration: none;
    background-image: linear-gradient(45deg, lightsalmon, tomato);
    padding: 10px 40px;
    border-radius: 6px;
    color: white;
    font-weight: 700;
}
.one-highlight{
    font-weight: 900;
    color: red;
    font-size: 25px;
}
.one-highlight:hover{
    color: darkseagreen;
    font-size: 30px;
    
    
}
p{
    color: dimgray;
}
.sec-2nd{
    background-image: url("images/dream-bg.png");
    background-repeat: no-repeat;
    background-position: right;
}

.box-sadow{
    box-shadow: 10px 10px 40px gray;
    height: 80%;
    border-radius: 8px;
    background-color: white;
}

.experience-area{
    background-image: url("images/exp-bg.png");
    background-repeat: no-repeat;
    background-position: left;
}

#sadow-line1{
    border-left: 7px solid;
    border-image: linear-gradient(180deg, lightsalmon , tomato);
    border-image-slice: 1;
}

#sadow-line2{
    border-left: 7px solid;
    border-image: linear-gradient(180deg,blue, cyan);
    border-image-slice: 1;
}

#experiences-h2{
    margin-left: 5%;
}
footer p{
    text-align: center;
}